.note-card {
  border: none;
  min-height: 3rem;
  width: 18rem;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
  background-color: #394161;
  color: var(--AlmostWhite);
  z-index: 60;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 30px;
}

.note-dots {
  margin: auto;
  height: 35px;
  position: relative;
  width: 35px;
}

.note-dots div {
  background-color: rgb(61, 61, 61);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 5px;
}

.note-card h3 {
  font-weight: 600;
  letter-spacing: 2px;
}

.note-card p {
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.note-dots div {
  animation: waveyNotes 2s linear infinite;
}

.note-dots div:first-child {
  animation-delay: 1s;
}

.note-dots div:nth-child(2) {
  animation-delay: 1.5s;
}

.note-dots div:nth-child(3) {
  animation-delay: 2s;
}

@keyframes waveyNotes {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(3.5);
  }
  100% {
    filter: brightness(1);
  }
}
