language: node_js

node_js:
  - "stable"

cache:
  directories:
  - node_modules

script:
  - npm test
  - npm run build

deploy:
  provider: heroku

env:
  COINCAP_PATH: https://api.coincap.io
  SHAPESHIFT_PATH: https://shapeshift.io
