.expanded-container {
  background: linear-gradient(to right, #424b6e, #272e4e);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
  color: var(--AlmostWhite);
  margin: 0.5rem 0 0.5rem 0.5rem;
  transition: 0.7s;
  width: 70%;
}

header {
  margin-top: 4rem;
  padding: 1rem 1rem 0;
}

.arrow {
  height: 1rem;
  margin-bottom: -2px;
  transform: rotate(90deg);
  width: 0.5rem;
}

.currency-symbol-expanded {
  color: rgba(255, 255, 255, 0.609);
}

.currency-name-expanded {
  font-size: 5em;
}

.fave-this-expanded {
  fill: #000;
  height: 40px;
  margin-right: 1rem;
  position: relative;
  transition: 0.2s;
  width: 40px;
}

.price-progress-expanded {
  display: flex;
  margin: 1rem;
}

.percent-change-expanded {
  font-size: 1.5em;
}
