.about-slider {
  height: 650px;
  margin: -2rem auto 0;
  position: relative;
  overflow: hidden;
  width: 375px;
  white-space: nowrap;
}

.about-slider-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.about-arrow-box {
  align-items: flex-end;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  left: 50%;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 15rem;
  z-index: 10;
}

.right-caret,
.left-caret {
  height: 2rem;
  width: 1.7rem;
}

.caret {
  cursor: pointer;
  transition: 0.2s;
  height: 2rem;
  width: 2rem;
}

.caret:hover {
  filter: brightness(1.5);
}

.left-c {
  transform: rotate(-90deg);
}
.right-c {
  transform: rotate(90deg);
}
