.container-box {
  height: 12rem;
  overflow: hidden;
}

.container {
  background: var(--MainGradient);
  height: 11rem;
  width: 100%;
  border-radius: 0 0 15px 15px;
  position: relative;
  text-align: center;
  color: var(--AlmostWhite);
  /* overflow: hidden; */
}

.container:before {
  width: 90%;
  height: 5%;
  content: "";
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 11rem;
  background-color: #9862dab9;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container:after {
  width: 80%;
  height: 5%;
  content: "";
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 11.5rem;
  background-color: #9862dab9;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container div {
  height: 11rem;
}

.container h5 {
  margin: 1.5rem 0;
  font-weight: 300;
  text-transform: uppercase;
}

.container h1 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.container h1:first-letter {
  font-size: 1.5rem;
  margin-right: 5px;
  margin-bottom: 1rem;
}

.container h2 {
  font-weight: 300;
  font-size: 1rem;
}

.container button {
  border: none;
  position: fixed;
  z-index: 50;
}
