.form-wrapper {
  text-align: center;
}

.form-wrapper input {
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.form-wrapper input:first-child {
  border-bottom: 1px solid var(--TellerPink);
}

.login-form input {
  padding: 1rem;
}

.login-form button {
  display: block;
  color: white;
  border: none;
  font-size: 1.5rem;
  margin: 2rem 0;
  width: 15rem;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.login-form button:hover {
  box-shadow: none;
}
