.form-wrapper {
  text-align: center;
}

.form-wrapper input {
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.form-wrapper input:first-child {
  border-bottom: 1px solid var(--TellerPink);
}

.login-form input {
  padding: 0.5rem 1rem;
}

.form-wrapper .login-button {
  border: none;
  display: inline;
}

.play-button {
  width: 15px;
  height: 15px;
}
