.form-wrapper {
  text-align: center;
}

.form-wrapper input {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.login-form input {
  padding: 1rem 0;
}

.login-form button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: var(--TellerPink);
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  width: 15rem;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
}

.login-form hr {
  border: 2px solid var(--TellerPink);
}

.login-form button:hover {
  box-shadow: none;
}
