.fave-currency {
  background: var(--MainGradient);
  height: 11rem;
  width: 100%;
  position: relative;
  text-align: center;
  color: var(--AlmostWhite);
}

.fave-name {
  font-size: 0.8rem;
  padding-top: 50px;
}

.fave-price {
  font-size: 2.2rem;
  letter-spacing: -1px;
  font-weight: 300;
}

.fave-price:first-letter {
  font-size: 1.2rem;
  padding-right: 5px;
}

.fave-price span {
  font-size: 1.2rem;
}

.price-progress {
  display: inline-block;
  font-size: 0.8rem;
}

.fave-currency .positive + .negative {
  height: 1rem;
  width: 0.5rem;
  transform: rotate(90deg);
  margin-bottom: -2px;
}

.fave-currency .negative {
  transform: rotate(-90deg);
}

.bubbles {
  width: 5rem;
  height: 2rem;
  bottom: 2rem;
  position: absolute;
  display: flex;
}

.bubbles-left {
  left: 4rem;
}

.bubbles-right {
  right: 3rem;
}

.bubbles div {
  margin: 8px;
}

.bubbles div:first-child,
.bubbles div:nth-child(3) {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  margin-top: 25px;
}

.bubbles div:nth-child(2) {
  width: 10px;
  height: 10px;
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
}

.bubbles-left div:first-child {
  animation-delay: 0.6s !important;
  bottom: 0;
  position: absolute;
}

.bubbles-left div:nth-child(2) {
  animation-delay: 0.5s !important;
  bottom: 0;
  left: 1rem;
  position: absolute;
}

.bubbles-left div:nth-child(3) {
  animation-delay: 1.1s !important;
  bottom: 15px;
  left: 3rem;
  position: absolute;
}

.bubbles-right div:first-child {
  animation-delay: 0.5s !important;
  bottom: 0;
  position: absolute;
}

.bubbles-right div:nth-child(2) {
  animation-delay: 0.9s !important;
  bottom: 0;
  left: 1rem;
  position: absolute;
}

.bubbles-right div:nth-child(3) {
  animation-delay: 1.2s !important;
  bottom: 15px;
  left: 3rem;
  position: absolute;
}

.up {
  animation: rise 15s linear infinite !important;
}

.speed-up-2 {
  animation: rise 5s linear infinite !important;
}

.speed-up-3 {
  animation: rise 9s linear infinite !important;
}

.speed-up-4 {
  animation: rise 0.5s linear infinite !important;
}

.down {
  animation: rise 10s reverse infinite !important;
}

.speed-down-2 {
  animation: rise 3s reverse infinite !important;
}

.speed-down-3 {
  animation: rise 5s reverse infinite !important;
}

.speed-down-4 {
  animation: rise 10s reverse infinite !important;
}

@keyframes rise {
  0% {
    bottom: 1rem;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    bottom: 5rem;
    opacity: 0;
  }
}
