.hotdog-container,
.hotdog-container-expanded {
  width: 1.5rem;
  height: 1rem;
  position: fixed;
  padding: 1rem;
  left: 0.8rem;
  top: 0.5rem;
  z-index: 90;
  cursor: pointer;
}

.hotdog-container div,
.hotdog-container-expanded div {
  width: 60%;
  height: 2px;
  margin: 0 auto 5px;
  transition: 0.3s;
  background-color: var(--AlmostWhite);
  position: relative;
}

.hotdog-container div:nth-child(2) {
  width: 100%;
  display: block;
}

.hotdog-container:hover div {
  width: 100%;
}

.hotdog-container:hover div:nth-child(2) {
  width: 60%;
}

/* ! Hotdog Expanded ! */

.hotdog-container-expanded div:first-child {
  transform: rotate(45deg);
  top: 3.5px;
  width: 100%;
}

.hotdog-container-expanded div:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 3.5px;
  width: 100%;
}

.hotdog-container-expanded div:nth-child(2) {
  display: none;
}

.hotdog-container-expanded:hover div:first-child {
  transform: rotate(-45deg);
}

.hotdog-container-expanded:hover div:nth-child(3) {
  transform: rotate(45deg);
}

/* ! Hotdog Menu ! */

.hotdog-menu {
  width: 100%;
  height: 100%;
  bottom: 105%;
  box-shadow: 2px 2px 10px black;
  z-index: 1;
  text-align: center;
  position: fixed;
  opacity: 0;
  background-color: var(--TellerBG);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hotdog-menu-expanded {
  position: fixed;
  height: 100%;
  opacity: 1;
  text-align: center;
  overflow: scroll;
  width: 100%;
  z-index: 60;
  background-color: var(--TellerBG);
  box-shadow: 1px 1px 5px rgb(27, 27, 27);
  bottom: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out, opacity 0s;
}

.menu-card {
  margin-top: 4rem;
}

.menu-card img {
  display: none;
}

.hotdog-menu h1,
.hotdog-menu-expanded h1 {
  font-family: teller;
  display: inline-block;
  text-transform: lowercase;
  font-size: 3rem;
  color: #fc599f;
  margin-bottom: 2rem;
  border-bottom: 5px solid #fc599f;
}

.hotdog-menu li,
.hotdog-menu-expanded li {
  font-size: 2rem;
  padding: 1rem 0;
  color: white;
  transition: 0.4s;
}

.hotdog-menu li:hover span,
.hotdog-menu-expanded li:hover span {
  color: #fc599f;
  cursor: pointer;
  text-shadow: 0px 0px 10px #fc59a02a;
}

.donate {
  color: rgb(206, 206, 206);
  /* position: absolute;
  bottom: 1rem; */
  left: 0;
  right: 0;
  margin: 0 auto;
}

.menu-card a {
  color: white !important;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .hotdog-menu {
    left: -5rem;
    bottom: 0;
    width: 5rem;
    height: 100vh;
  }

  .hotdog-menu img {
    display: none;
    width: 25px;
  }

  .hotdog-menu-expanded {
    width: 5rem;
    left: 0;
    bottom: 0;
  }

  .hotdog-menu-expanded img {
    opacity: 1;
    transition: 0.9s;
    width: 25px;
  }

  .hotdog-menu-expanded li:hover {
    background-color: #424d79;
  }

  .menu-card li {
    font-size: 2rem;
    padding: 1rem 0rem;
  }

  .donate {
    overflow: hidden;
  }

  .menu-card h1 span {
    display: none;
  }

  .menu-card span {
    opacity: 0;
    font-size: 1rem;
  }

  .menu-card li:hover span {
    opacity: 1;
    font-size: 1rem;
  }
  .menu-card img {
    display: block;
    padding: 0 1.5rem;
  }

  .donate img {
    padding: 1.3rem;
    width: 35px;
  }

  .donate img:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }

  .donate p {
    display: none;
  }
}
