.currency-container {
  height: 72vh;
  margin-top: 10rem;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 1rem;
  -webkit-overflow-scrolling: touch;
  width: 95%;
  z-index: 2;
}

.sort-box {
  text-align: left;
}

.sort {
  background-color: var(--TellerBG);
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  position: sticky;
  right: 0;
  text-align: right;
  top: 0rem;
  width: 100%;
  z-index: 4;
}

.sort button {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  color: white;
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.sort-box button:hover {
  border-bottom: 3px solid #fc599f;
  cursor: pointer;
}
