.currency-container {
  margin-top: 10rem;
  width: 25rem;
  height: 36rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  z-index: 2;
}

.bottom-gradient {
  height: 6rem;
  width: 100%;
  bottom: 0;
  filter: blur(10px);
  position: fixed;
  background: linear-gradient(to top, #303859, rgba(48, 56, 89, 0.379));
}

.sort-box {
  text-align: left;
}

.sort {
  text-align: right;
  position: sticky;
  top: 0rem;
  padding: 0.5rem 0;
  background-color: var(--TellerBG);
  z-index: 55;
}

.sort a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.sort-box a:hover {
  border-bottom: 3px solid #fc599f;
}

@media only screen and (min-width: 700px) {
  .currency-container {
    position: absolute;
    right: 0;
  }

  .sort-box {
    margin-bottom: 2rem;
  }
}
