.currency-container {
  margin-top: 10rem;
  width: 95%;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 1rem;
  height: 80%;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

.sort-box {
  text-align: left;
}

.sort {
  text-align: right;
  position: sticky;
  top: 0rem;
  background-color: var(--TellerBG);
  right: 0;
  z-index: 4;
  width: 100%;
}

.sort a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  margin: 1rem 2.5rem;
}

.sort-box a:hover {
  border-bottom: 3px solid #fc599f;
}

.bottom-gradient {
  height: 6rem;
  width: 100%;
  bottom: 0;
  filter: blur(10px);
  position: fixed;
  background: linear-gradient(to top, #303859, rgba(48, 56, 89, 0.379));
}

@media only screen and (min-width: 700px) {
  .currency-container {
    width: 25rem;
  }
}
