.search-button,
.search-button-active {
  background: var(--MainGradient);
  border-top: 2px solid transparent;
  bottom: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.256);
  cursor: pointer;
  height: 56px;
  position: fixed;
  right: 35px;
  transform: rotate(45deg);
  width: 56px;
  z-index: 50;
}

.search-button:hover {
  animation: woom 2s linear infinite;
}

.search-button img {
  transition: 0.2s;
}

.search-button:hover img {
  transform: scale(1.1) rotate(-45deg);
}

.search-button-active {
  transform: rotate(0deg);
  transition: 0.9s width;
  width: 56px;
  height: 56px;
  background: none;
  background-color: #303859;
  border-bottom: 2px solid #db5db2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.434);
  animation: none;
  transition: 0.5s;
  animation: makeBigger 1s forwards;
}

.search-button-active:hover {
  transform: scale(1.05);
}

.search-field input {
  padding: 0.5rem 1rem;
  background: black;
}

.search-bar,
.search-bar-active input {
  border: 0px;
  position: relative;
  bottom: 1.5rem;
  width: 10rem;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.5s;
}

.search-button {
  animation: makeSmaller 0.2s forwards;
}

.search-button img {
  transform: rotate(-45deg);
}

.search-button img,
.search-button-active img {
  height: 25px;
  margin: 1rem;
}

.search-button-active img {
  transition: 0.2s;
}

.search-button input {
  opacity: 0;
}

.search-button-active input {
  animation: appear 1.5s forwards;
}

/* ! Animations ! */

@keyframes ❤️ {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 217, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 1px #9862da;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 217, 0, 0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes makeBigger {
  0% {
    width: 56px;
  }
  80% {
    width: 56px;
  }
  100% {
    width: 20rem;
  }
}

@keyframes woom {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(20deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
