.title-block {
  text-align: center;
  font-family: teller;
  margin-top: 2rem;
  color: var(--TellerPink);
}

.no-notes-saved {
  text-align: center;
  font-size: 0.8rem;
  color: white;
  margin: 0 auto;
  display: inline-block;
  text-transform: capitalize;
}

.notes-container-box {
  display: flex;
  flex-flow: wrap;
  overflow: scroll;
  max-height: 31rem;
}
@media only screen and (min-width: 700px) {
  .title-block {
    font-size: 3rem;
  }
  .notes-container-box {
    max-height: 37rem;
  }
}
