* {
  --MainGradient: linear-gradient(
    to right,
    #8065e9,
    #9862da,
    #b760c5,
    #db5db2,
    #fc599f
  );
  --BlueSteel: linear-gradient(to bottom, #7145e3, #5694ee, #6ce9fc);
  --Peachy: linear-gradient(to bottom, #fd746c, #ff9068);
  --BlueGreen: linear-gradient(to bottom, #c2e59c, #64b3f4);
  --Pinkish: linear-gradient(to bottom, #b24592, #f15f79);
  --Descent: linear-gradient(to bottom, #00c6ff, #0072ff);
  --Tranquil: linear-gradient(to bottom, #9862da, #db5db2);
  --AlmostWhite: rgb(230, 230, 230);
  margin: 0;
  padding: 0;
  outline: none;
}

.App {
  height: 100vh;
  background-color: #303859;
  overflow: hidden;
}
