* {
  --MainGradient: linear-gradient(
    to right,
    #8065e9,
    #9862da,
    #b760c5,
    #db5db2,
    #fc599f
  );
  --BlueSteel: linear-gradient(to bottom, #7145e3, #5694ee, #6ce9fc);
  --Peachy: linear-gradient(to bottom, #fd746c, #ff9068);
  --BlueGreen: linear-gradient(to bottom, #c2e59c, #64b3f4);
  --Pinkish: linear-gradient(to bottom, #b24592, #f15f79);
  --Descent: linear-gradient(to bottom, #00c6ff, #0072ff);
  --Tranquil: linear-gradient(to bottom, #9862da, #db5db2);
  --AlmostWhite: rgb(230, 230, 230);
  --TellerBG: #303859;
  --TellerBGDark: #232941;
  --TellerPink: #fc599f;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: teller;
  src: url(./Assets/fonts/GeorgeRegular.ttf);
}

.App {
  height: 100vh;
  background-color: var(--TellerBG);
  overflow: hidden;
}

.app-subtle-bg {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #232941d5;
  z-index: 0;
}

.app-subtle-bg h1 {
  font-size: 4rem;
  font-family: teller;
}

.app-subtle-bg p {
  font-size: 1.5rem;
}
