.currency-card {
  margin: 0.8rem;
  border-radius: 15px;
  background: linear-gradient(to right, #424b6e, #272e4e);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.459);
  color: var(--AlmostWhite);
  transition: 0.7s;
}

.card-inside-text {
  height: 5rem;
  margin: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currency-card:hover {
  filter: brightness(1.5);
  cursor: pointer;
  transform: scale(1.05);
}

.cc-left p:first-child,
.cc-center p:first-child {
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

.cc-left p:nth-child(2),
.cc-center p:nth-child(2) {
  color: rgba(255, 255, 255, 0.555);
  font-size: 0.8rem;
}

.cc-left p:nth-child(2):first-letter,
.cc-center p:first-child:first-letter {
  padding-right: 3px;
}

.expanded-currency {
  padding: 1rem 0;
  transition: 0.2s;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.ec-left p:first-child,
.ec-right p:first-child {
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

.ec-left p:nth-child(2),
.ec-left p:nth-child(3),
.ec-right p:nth-child(2) {
  color: rgba(255, 255, 255, 0.555);
  font-size: 0.8rem;
}

.fave-this {
  fill: #fff;
  height: 20px;
  right: 0rem;
  width: 20px;
  position: relative;
  transition: .2s;
  bottom: -1rem;
}

.fave-this:hover{
  filter: brightness(1.5);
  transform: scale(1.2);
}
