.wrong-way {
  text-align: center;
}

.wrong-way h1 {
  color: var(--TellerPink);
  margin: 10rem 2rem 0;
  text-align: center;
}

.wrong-way a {
  color: white;
  border: 1px solid var(--TellerPink);
  border-radius: 10px;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
}

.wrong-way a:hover {
  box-shadow: 2px 2px 2px var(--TellerBGDark);
}
