.wrong-way {
  text-align: center;
}

.wrong-way h1 {
  color: var(--TellerPink);
  text-align: center;
  margin-top: 10rem;
}

.wrong-way a {
  text-align: center;
  color: white;
  text-decoration: none;
  border: 1px solid var(--TellerPink);
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin-top: 10rem;
}
